# Python 
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env

# Database
*.db
*.sqlite3
pgdata/

# Docker 
.docker/

# API Keys / Secrets 
.env
secret.json
keys.txt

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Log files
*.log